body {
    background-color: orange;
    font-family: 'Lato', sans-serif;
}

.well {
    background: red;
}
.left-well {
    height: 350px;
}
.clearfix {
    clear:both;
}
#witty-message {
    background: red;
    height: 20px;
}

.letter {
    font-size:2em;
    float: left;
    width: 10%;
}

.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}